.row {
	display: flex;
	margin: -10px;
	flex-wrap: wrap;
}

.row .col-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-3 {
	width: 25%;
	padding: 10px;
}

.row .col-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-6 {
	width: 50%;
	padding: 10px;
}

.row .col-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-9 {
	width: 75%;
	padding: 10px;
}

.row .col-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-12 {
	width: 100%;
	padding: 10px;
}

body {
	font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.top {
	background-image: url(../images/mapWorth.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.top .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top .container .slogen {
	margin-top: 70px;
}

.top .container img {
	width: 150px;
	height: 150px;
}

.top .container .text {
	margin-left: 20px;
}

.top .container .text p {
	font-size: 36px;
	font-weight: 400;
	font-style: italic;
	line-height: 36px;
	margin-bottom: 0;
	text-align: center;
	color: #fff;
}

.top .container .text h1 {
	font-size: 80px;
	line-height: 120px;
	color: #f8f8fa;
}

.top .worldTotal {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-top: 80px;
}

.top .worldTotal .first h6 {
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	color: #fff;
}

.top .worldTotal .first p {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 28px;
	text-align: center;
	color: #fff;
}

.top .worldTotal .row {
	display: flex;
	width: 100%;
	margin-top: 60px;
	justify-content: space-between;
}

.top .worldTotal .row .block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top .worldTotal .row .block button {
	display: flex;
	width: 70px;
	height: 70px;
	margin: 30px 0;
	transition: all .4s;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.top .worldTotal .row .block button:hover {
	opacity: .9;
}

.top .worldTotal .row .block button:hover i {
	color: red;
}

.top .worldTotal .row .block button i {
	font-size: 25px;
	color: #fff;
}

.top .worldTotal .row .block .name {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	color: #fff;
}

.top .worldTotal .row .block .sub-num {
	font-size: 15px;
	color: #fff;
}

.country-case {
	padding: 100px;
	background-color: #003c58;
}

.country-case .container {
	padding-top: 20px;
	border-radius: 10px;
	background-color: #0b2433;
}

.country-case .container .thead {
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	display: flex;
	padding: 10px 20px;
	color: #fefefe;
	border-top: none;
	justify-content: space-between;
	align-items: center;
}

.country-case .container .thead .style-arr {
	display: flex;
	height: 100%;
	cursor: pointer;
	align-items: center;
}

.country-case .container .thead .style-arr:hover {
	color: #a5a5aa;
}

.country-case .container .thead .style-arr:hover .icons i.down {
	display: flex;
}

.country-case .container .thead .style-arr .icons {
	position: relative;
	padding-bottom: 40px;
}

.country-case .container .thead .style-arr .icons i {
	font-size: 16px;
	position: absolute;
	top: 0;
	padding: 10px;
	color: #9f9fa1;
}

.country-case .container .thead .style-arr .icons i.down {
	display: none;
}

.country-case .container .thead .style-arr .icons i.up {
	display: none;
}

.country-case .container .header {
	margin-bottom: 20px;
}

.country-case .container .header span {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	color: #fefefe;
}

.country-case .container .header .input {
	transition: all 1s;
	border-bottom: 1px solid black;
}

.country-case .container .header .input:hover {
	border-color: aqua;
}

.country-case .container .header .input i {
	font-size: 13px;
	padding-right: 6px;
	color: #f8f8fa;
}

.country-case .container .header input {
	font-size: 20px;
	color: #fefefe;
	border: none;
	outline: none;
	background-color: transparent;
}

.country-case .container .header button i {
	color: #fefefe;
}

.country-case .container .num {
	overflow-y: auto;
	height: 350px;
}

.country-case .container table th,
.country-case .container table td {
	font-size: 24px;
	font-weight: 900;
	line-height: 24px;
	color: #fefefe;
	border-top: none;
}

.country-case .container table tr {
	cursor: pointer;
	border-bottom: 1px solid #fefefe;
}

.country-case .container table tr:first-child {
	border-top: 1px solid #fefefe;
}

.country-case .container table td {
	padding: 20px 0;
}

.country-case .container table td:first-child {
	width: 300px;
}

.country-case .container table td:last-child {
	text-align: center;
}

footer {
	background-color: #003c58;
}

footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .container .text h6 {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 19px;
	text-align: center;
	color: #fefefe;
}

footer .container .text .block {
	display: flex;
	margin: 20px 0;
	align-items: center;
}

footer .container .text img {
	width: 100px;
	height: 100px;
	-o-object-fit: cover;
	object-fit: cover;
}

footer .container .text h3 {
	font-size: 48px;
	font-weight: 700;
	line-height: 72px;
	padding-left: 10px;
	text-align: center;
	color: #fefefe;
}

footer .container .text p {
	font-size: 19px;
	font-weight: 600;
	line-height: 34px;
	text-align: center;
	color: #fefefe;
}

footer .container .text .sub-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 20px;
}

@media (max-width: 1200px) {

.row .col-lg-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-lg-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-lg-3 {
	width: 25%;
	padding: 10px;
}

.row .col-lg-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-lg-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-lg-6 {
	width: 50%;
	padding: 10px;
}

.row .col-lg-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-lg-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-lg-9 {
	width: 75%;
	padding: 10px;
}

.row .col-lg-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-lg-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-lg-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 992px) {

.row .col-md-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-md-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-md-3 {
	width: 25%;
	padding: 10px;
}

.row .col-md-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-md-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-md-6 {
	width: 50%;
	padding: 10px;
}

.row .col-md-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-md-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-md-9 {
	width: 75%;
	padding: 10px;
}

.row .col-md-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-md-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-md-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 768px) {

.row .col-sm-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-sm-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-sm-3 {
	width: 25%;
	padding: 10px;
}

.row .col-sm-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-sm-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-sm-6 {
	width: 50%;
	padding: 10px;
}

.row .col-sm-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-sm-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-sm-9 {
	width: 75%;
	padding: 10px;
}

.row .col-sm-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-sm-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-sm-12 {
	width: 100%;
	padding: 10px;
}

}

@media (max-width: 576px) {

.row .col-xs-1 {
	width: 8.33333%;
	padding: 10px;
}

.row .col-xs-2 {
	width: 16.66667%;
	padding: 10px;
}

.row .col-xs-3 {
	width: 25%;
	padding: 10px;
}

.row .col-xs-4 {
	width: 33.33333%;
	padding: 10px;
}

.row .col-xs-5 {
	width: 41.66667%;
	padding: 10px;
}

.row .col-xs-6 {
	width: 50%;
	padding: 10px;
}

.row .col-xs-7 {
	width: 58.33333%;
	padding: 10px;
}

.row .col-xs-8 {
	width: 66.66667%;
	padding: 10px;
}

.row .col-xs-9 {
	width: 75%;
	padding: 10px;
}

.row .col-xs-10 {
	width: 83.33333%;
	padding: 10px;
}

.row .col-xs-11 {
	width: 91.66667%;
	padding: 10px;
}

.row .col-xs-12 {
	width: 100%;
	padding: 10px;
}

.top .container .slogen {
	margin: 15px 0;
}

.top .container img {
	width: 100px;
	height: 100px;
	-o-object-fit: cover;
	object-fit: cover;
}

.top .container .text p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.top .container .text h1 {
	font-size: 26px;
	font-weight: 700;
	line-height: 38px;
}

.top .worldTotal {
	width: 80%;
	margin-top: 0;
}

.top .worldTotal .row {
	margin-top: -10px;
}

.top .worldTotal .row .col-xs-6 {
	margin-top: 0;
}

.country-case {
	padding: 10px;
}

.country-case .container .thead {
	font-size: 14px;
	padding: 5px 10px;
}

.country-case .container .thead .style-arr .icons i {
	font-size: 10px;
	padding: 6px;
}

.country-case .container .header span {
	font-size: 14px;
}

.country-case .container .header input i {
	font-size: 12px;
}

.country-case .container .header input {
	font-size: 14px;
}

.country-case .container table th,
.country-case .container table td {
	font-size: 12px;
}

.country-case .container table td:first-child {
	width: 60px;
}

footer .container .text {
	margin-top: 20px;
}

footer .container .text h6 {
	font-size: 14px;
}

footer .container .text img {
	width: 60px;
	height: 60px;
}

footer .container .text h3 {
	font-size: 32px;
}

footer .container .text p {
	font-size: 16px;
}

footer .container .text .block {
	display: flex;
	margin: 10px 0;
	justify-content: center;
}

}

